<head>
    <link rel="stylesheet" href="/css/index.css"/>
    
    <title>Homepage</title>
</head>
<body>
    <div class="nav-container">
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                    <li><a href="index">Homepage</a></li>
                    <li><a href="products">Products</a></li>
                    <li><a href="contactUs">Contact Us</a></li>
                    <li><a href="aboutUs">About us</a></li>
                </ul>
            </nav>
        </div>
        <h1>Contact Us</h1>
    </div>
    <p>Please fill in this query form</p>
    <form class="frm-container">
        <label>First Name</label>
        <input type="text" alt="firstname text bar" placeholder="Enter your firstname..." >
        <label>Last Name</label>
        <input type="text" alt="lastname text bar" placeholder="Enter your lastname...">
        <label>Email</label>
        <input type="email" alt="email text bar" placeholder="Enter your email address">
        <label>Subject</label>
        <input type="text" alt="subject text bar" placeholder="Enter your subject">
        <label>Message</label>
        <textarea alt="message text bar" placeholder="Enter your message here..." style="height:200px"></textarea>
        <button type="button" class="btn" alt="submit button">Submit</button>
</form>

<button class="btn" style="width: 35%;"><a href="index">Back to homepage</a></button>
</body>

