<h1>Welcome to {{title}} page</h1>
<form class="frm-container">
    <label>Username</label>
    <input type="email" alt="Username text bar" placeholder="Enter your email">
    <label>Password</label>
    <input type="password" alt="Password text bar">
    <button type="reset" class="frm-button" alt="reset button">Reset</button>
    <button type="submit" class="frm-button" alt="submit button">Submit</button></br>
    <p>Become a member today <a href="register.hbs"> Register here</a>.</p>
</form>