<h1>Payment page</h1>
<form class="payment-frm">
    <label>Name of card</label>
    <input type="text" placeholder="please enter the name on the card" alt="full name text bar">
    <label>Card number</label>
    <input type="number" placeholder="1111 2222 3333 4444" alt=" input card number">
    <label>Expiry date</label>
    <input type="date" placeholder="MM/YY" alt="input expiry date">
    <label>CVV</label>
    <input type="number" placeholder="123" alt="input cvv">
    <br>
    <h2>Billing Address</h2>
    <label>Full name</label>
    <input type="text" placeholder="please enter your full name" alt="input full name">
    <label>Email address</label>
    <input type="email" placeholder="please enter your email address" alt="input email address">
    <label>First line of address</label>
    <input type="text" placeholder="123 Chapel street" alt="input first line of address">
    <label>Second line of address</label>
    <input type="text" placeholder="optional" alt="input second line of address">
    <label>Town or City</label>
    <input type="text" placeholder="Manchester" alt="input town or city you are from">
    <label>Postcode</label>
    <input type="text" placeholder="M1 1AA" alt="input postcode">
    <br>
    <label>
        <input type="checkbox" checked="checked">
        Shipping address same as billing
    </label>
    <button type="submit" class="frm-button">Proceed to checkout</button>
</form>