<h1>Registerion Form</h1>
<h2>Please fill in this form to become a member</h2>
<form class="frm-container">
    <label alt="Email label">Email</label>
    <input type="email" placeholder="Enter your email address" alt="email adress text bar">
    <label alt="password label">Password</label>
    <input type="password" placeholder="Enter your password" alt="password text bar"></br>
    <label>Repeat password</label>
    <input type="password" placeholder="repeat password" alt="repeat password">
    <p>By registering your account you are agreeing to our<a href="term & condition"> Terms & Conditions</a>.</p>
    <button type="submit" class="frm-button" alt="Register submit button">Register</button>
    <p>Already have an account? <a href="login">Login</a>.</p>
    <button type="button"class="frm-button" style="width: 35%;"><a href="index">Back to homepage</a></button>
</form>